header,article,nav{
	display: block;
}
section{
	display: none;
}
*{
	padding: 0;
	margin: 0;
}
body{
	margin: 1em 10%;
	max-width: 80em;
}
header{
	border-width: .1em;
	border-style: solid;
	border-bottom-width: 0;
}
#logo{
	height: 250px;
	width: 500px;
	line-height: 250px;
	font-size: 60px;
	text-align: center;
	margin: 0 auto;
}
header nav{
	border-width: .1em;
	border-style: solid;
	border-bottom-width: 0;
	border-top-width: 0;
	padding-left: 12%;
}
header nav li{
	display:inline;
}
header nav li a{
	display: block;
	float: left;
	padding: .5em 4em;
	border-right: .1em solid;
	border-left: .1em solid;
}
article{
	border-width: .1em;
	border-style: solid;
	border-top-width: 0;
	padding: 8em 10%;
	line-height: 1.8em;
}
article p{
	line-height: 1.4em;
}
article img{
	border-width: .1em;
	border-style: solid;
	outline-width: .1em;
	outline-style: solid;
}
article nav ul li a{
	font-size: 16px;
}
article nav ul{
	margin-top: 10px;
}
#slideshow{
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
	border: 1px solid #000;
	border-radius: 20px;
	margin-left: 100px;
}
#preview{
	position: absolute;
	border-width: 0;
	outline-width: 0;
}
#imagegallery li{
	display: inline;
}
#imagegallery li a img{
	width: 130px;
	height: 130px;
	margin: 5px;
}
#placeholder{
	box-shadow: 0 0 20px;
	border-radius: 20px;
	outline-style: none;
	width: 450px;
	height: 450px;
	margin-top: -30px;
}
td{
	padding: .7em 3.5em;
}
th{
	padding: .5em;
}
label{
	display: block;
}
fieldset{
	border:0;
}
#sipt{
	width: 55px;
	height: 25px;
}